*{
font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.copy {
  font-size: 25px;
  color:#343A90;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}

video {
  width:95%;
  height: 400px;
  margin-bottom: 5%;
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  border-radius: 10px;
  padding: 0;
  border: 2px solid #343A90;
}
